@model IEnumerable<MvcDers.Models.Ogretmen>

@{
    ViewBag.Title = "Index";
}

<h2>@Html.ActionLink("Anasayfa", "Index", "Home")</h2>

<p>
    @Html.ActionLink("Ekle", "OgretmenEkle")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Adi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Soyadi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bransi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ders.DersAdi)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Adi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soyadi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bransi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ders.DersAdi)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.OgretmenID }) |
                @Html.ActionLink("Details", "Details", new { id = item.OgretmenID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.OgretmenID })
                <button type="button" @Url.Action("_OgrenciListele", "Ogretmen") class="btn btn-success btn-lg" data-toggle="modal" data-target=@("#Ogrenci_"+item.OgretmenID)>
                    Öğrenciler
                </button>
            </td>
        </tr>
    }

</table><br /><br />
@foreach (var item in Model)
{
    <div class="modal fade" id=@("Ogrenci_" + item.OgretmenID) tabindex="-1" role="dialog" aria-labelledby="">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Öğrenciler</h4>
                </div>
                <form method="post" action="">
                    <div class="modal-body">
                        @{
                            Html.RenderAction("_OgrenciListele", "Ogretmen", new { id = item.OgretmenID });
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}
<section>
    <div class="container body-content">
        @Html.Action("PartialEgitmen");
    </div>
</section>
